<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Database-Coupons</title>
        <!-- style for the navigation bar-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
   
    <body>    
        <div class="topnav">        
            <a href="/">Home</a></li>
            <a href="/customers">Customers</a>
            <a href="/vinyls">Vinyls</a>
            <a href="/orders">Orders</a>
            <a class="active" href="/coupons">Coupons</a>
            <a href="/orderProducts">OrderProducts</a>     
        </div>
        <br>
        <h1> Manage Coupons Data</h1>

        <table>
            <thead>
            <tr>
                <th>Coupon ID</th>
                <th>Percent Discount</th>
                <th>Expiration Date</th>
            </tr>
            <tbody>
            
            {% for row in coupon_info %}
            <tr>
                <td>{{row['coupon_id']}}</td>
                <td>{{row['discount']}}</td>
                <td>{{row['expire_date']}}</td>
            </tr>
            {% endfor %}
    
        </table>
        <br>

        <!--
        Citation for user input form:
        Date: 10/25/2021
        Adapted from: w3schools
        Source URL: https://www.w3schools.com/tags/tag_form.asp
        -->

        <form>
        <fieldset>
            <legend>Add New Coupon</legend>
            <p>
            <label>Coupon ID:
                <input type="text" id="couponID" size="30" maxlength="100"></label>
            <br>
            <label>Percent Discount:
                <input type="number" id="percentDiscount" min="0"></label>
            <br>
            <label>Expiration Date:
                <input type="date" id="expirationDate"></label>
            <br>
            </p>
            <input type="submit" id="add_coupons" value="Add Coupon">
        </fieldset>
        </form>
    </body>
</html>