<html>
    <!--
        Citation for the navigation bar:
        Date: 10/25/2021
        Adapted from: w3schools
        Source URL: https://www.w3schools.com/howto/howto_js_topnav.asp
    -->
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Database Home</title>
    <link rel="stylesheet" href="index.css" type="text/css">
    <!-- style for the navigation bar-->
    <link rel="stylesheet" href="default.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <h1> Waterloo Records Store Database Portal </h1>
    <div>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="customers.html">Customers</a></li>
            <li><a href="vinyls.html">Vinyls</a></li>
            <li><a href="orders.html">Orders</a></li>
            <li><a href="coupons.html">Coupons</a></li>
            <li><a href="order-products.html">OrderProducts</a></li>
        </ul>
    </div>
    </br>
    <div class="scroll">
        <ol>
        <li>Cusotmers Page: 
            <ul>
                <li>Displays all customers in the Customers table.</li></br>
                <li>Add new customer by entering info.</li></br>
            </ul> 
            <br/>
        </li>
        <br/>
        <li>Vinyls Page:
            <ul>
                <li>Displays all vinyls in the Vinyls table.</li>
                <li>Add new order by entering info.</li>
            </ul>
            <br/>
        </li>
        <br/>
        <li>Orders Page:
            <ul>
                <li>Displays all orders in the Orders table.</li>
                </br>
                <li>Add new vinyl record by entering info.</li>
                </br>
                <li>Update order by entering info.</li>
                </br>
                <li>Select order by filtering customer names.</li>
            </ul>
            <br/>
        </li>
        <br/>
        <li>Coupons Page:
            <ul>
                <li>Displays all available coupons in the Coupon table.</li>
                <li>Add new coupon by entering info.</li>
            </ul>
            <br/>
        </li>
        <br/>
        </ol>
    </div>
</body>
</html>

