<html>
    <!--
        Citation for the navigation bar:
        Date: 10/25/2021
        Adapted from: w3schools
        Source URL: https://www.w3schools.com/howto/howto_js_topnav.asp
    -->
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Database Home</title>
    <!-- style for the navigation bar using Flask default css file path-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>    
    <div class="topnav">        
        <a class="active" href="/">Home</a></li>
        <a href="/customers">Customers</a>
        <a href="/vinyls">Vinyls</a>
        <a href="/orders">Orders</a>
        <a href="/coupons">Coupons</a>
        <a href="/orderProducts">OrderProducts</a>     
    </div>
    </br>
    <h1> Waterloo Records Store Database Portal </h1>
    <h4>Use the links at the top of the page to navigate to the pages described below.</h4>
    <div class="scroll">
        <ol>
        <li>Customers Page: 
            <ul>
                <li>Displays all customers in the Customers table.</li></br>
                <li>Add new customer by entering info.</li></br>
            </ul> 
            <br/>
        </li>
        <br/>
        <li>Vinyls Page:
            <ul>
                <li>Displays all vinyls in the Vinyls table.</li></br>
                <li>Add new order by entering info.</li>
            </ul>
            <br/>
        </li>
        <br/>
        <li>Orders Page:
            <ul>
                <li>Displays all orders in the Orders table.</li>
                </br>
                <li>Add new vinyl record by entering info.</li>
                </br>
                <li>Update order by entering info.</li>
                </br>
                <li>Select order by filtering customer names.</li>
            </ul>
            <br/>
        </li>
        <br/>
        <li>Coupons Page:
            <ul>
                <li>Displays all available coupons in the Coupon table.</li></br>
                <li>Add new coupon by entering info.</li>
            </ul>
            <br/>
        </li>
        </br>
        <li>OrderProducts Page:
            <ul>
                <li>Displays all available coupons in the OrderProducts table.</li></br>
                <li>Add new product to an order by entering info.</li></br>
                <li>Delete a product from an order by entering info.</li>
            </ul>
            <br/>
        </li>
        <br/>
        </ol>
    </div>
</body>
</html>

