<html>
    <!--
        Citation for the navigation bar:
        Date: 10/25/2021
        Adapted from: w3schools
        Source URL: https://www.w3schools.com/howto/howto_js_topnav.asp
    -->

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Database-Orders</title>
        <!-- style for the navigation bar-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
   
    <body>    
        <div class="topnav">        
            <a href="/">Home</a></li>
            <a href="/customers">Customers</a>
            <a href="/vinyls">Vinyls</a>
            <a class="active" href="/orders">Orders</a>
            <a href="/coupons">Coupons</a>
            <a href="/orderProducts">OrderProducts</a>     
        </div>
        <br>
        <h1> Manage Orders Data</h1>
        <h3>*Please scroll down for more information.</h3>
        
        <table>
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Customer ID</th>
                <th>Coupon ID</th>
                <th>Order Status</th>
            </tr>
            <tbody>
            
            {% for row in order_info %}
            <tr>
                <td>{{row['order_id']}}</td>
                <td>{{row['order_date']}}</td>
                <td>{{row['customer_id']}}</td>
                <td>{{row['coupon_id']}}</td>
                <td>{{row['order_status']}}</td>
            </tr>
            {% endfor %}
    
        </table>
        <div>*Customer ID Filter: None</div>
        <br>

        <!--
        Citation for user input form:
        Date: 10/25/2021
        Adapted from: w3schools
        Source URL: https://www.w3schools.com/tags/tag_form.asp
        -->

        <form>
        <fieldset>
            <legend>Filter Orders for a Specific Customer</legend>
            <p>
            <label>Customer ID:
                <input type="text" id="customerID" size="30" maxlength="100"></label>
            <br>
            </p>
            <input type="submit" id="filter_orders" value="Filter Orders">
            <br>
            <input type="submit" id="clear_filter" value="Clear Filter">
        </fieldset>
        <br>
        <fieldset>
            <legend>Add New Order</legend>
            <p>
            <label>Order Date:
                <input type="date" id="orderDate" size="30" maxlength="100"></label>
            <br>
            <label>Customer ID:
                <input type="text" id="customerID" size="30" maxlength="100"></label>
            <br>
            <label>Coupon ID:
                <input type="text" id="couponID" size="30" maxlength="100"></label>
            <br>

            <label>Order Status:
                <select name="orderStatus" id="orderStatus">
                    <option value="inProcess">In Process</option>
                    <option value="shipped">Shipped</option>
                    <option value="delivered">Delivered</option>
                </select>
                <!--<input type="text" id="orderStatus" size="30" maxlength="100"></label>-->
            <br>
            </p>
            <input type="submit" id="add_orders" value="Add Order">
        </fieldset>
        <fieldset>
            <legend>Delete An Order</legend>
            <p>
            <label>Order ID:
                <input type="text" id="orderID" size="30" maxlength="100"></label>
            <br>
            </p>
            <input type="submit" id="delete_orders" value="Delete Order">
        </fieldset>
        <br>
        <fieldset>
            <legend>Update An Order</legend>
            <p>
            <label>Order ID:
                <input type="text" id="orderID" size="30" maxlength="100"></label>
            <br>
            <label>Order Status:
                <select name="orderStatus" id="orderStatus">
                    <option value="inProcess">In Process</option>
                    <option value="shipped">Shipped</option>
                    <option value="delivered">Delivered</option>
                </select>
                <!--<input type="text" id="orderStatus" size="30" maxlength="100"></label>-->
            <br>
            <label>Coupon ID:
                <input type="text" id="couponID" size="30" maxlength="100"></label>
            <br>
            </p>
            <input type="submit" id="update_orders" value="Update Order">
        </fieldset>
        </form>
    </body>
</html>