<html>
    <!--
        Citation for the navigation bar:
        Date: 10/25/2021
        Adapted from: w3schools
        Source URL: https://www.w3schools.com/howto/howto_js_topnav.asp
    -->

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Database-Orders</title>
        <!-- style for the navigation bar-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
   
    <body>    
        <div class="topnav">        
            <a href="/">Home</a></li>
            <a href="/customers">Customers</a>
            <a href="/vinyls">Vinyls</a>
            <a class="active" href="/orders">Orders</a>
            <a href="/coupons">Coupons</a>
            <a href="/orderProducts">OrderProducts</a>     
        </div>
        <br>
        <h1> Manage Orders Data</h1>
        <h3>*Please scroll down for more information.</h3>
        
        <table>
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Customer ID</th>
                <th>Coupon ID</th>
                <th>Order Status</th>
            </tr>
            <tbody>
            
            {% for row in order_info %}
            <tr>
                <td>{{row['orderID']}}</td>
                <td>{{row['orderDate']}}</td>
                <td>{{row['customerID']}}</td>
                <td>{{row['couponID']}}</td>
                <td>{{row['orderStatus']}}</td>
            </tr>
            {% endfor %}
    
        </table>
        <div>*Customer ID Filter: {{filter}}</div>
        <br>

        <!--
        Citation for user input form:
        Date: 10/25/2021
        Adapted from: w3schools
        Source URL: https://www.w3schools.com/tags/tag_form.asp
        -->

        <form action="/orders" method="get">
            <fieldset>
                <legend>Filter Orders for a Specific Customer</legend>
                <p>
                <label>Customer ID:
                    <select name="customerID" id="customerID">
                        <option value="">Clear Filter</option>
                        {% for row in customer_names %}
                        <option value="{{row['customerID']}}">{{row['customerID'] ~ ', ' ~ row['firstName'] ~ ' ' ~ row['lastName']}}</option>
                        {% endfor %}
                    </select>
                <br>
                </p>
                <input type="submit" id="filter_orders"  value="Apply Filter">
            </fieldset>
        </form>
        <br>
        <form action="/orders" method="post">
            <fieldset>
                <legend>Add New Order</legend>
                <p>
                <label>Order Date:
                    <input type="date" id="orderDate" name="orderDate" size="30" maxlength="100" min="2021-01-01" required></label>
                <br>
                <label>Customer ID:
                    <select name="customerID" id="customerID">
                        {% for row in customer_names %}
                        <option value="{{row['customerID']}}">{{row['customerID'] ~ ', ' ~ row['firstName'] ~ ' ' ~ row['lastName']}}</option>
                        {% endfor %}
                    </select>
                <br>
                <label>Coupon ID:
                    <select name="couponID" id="couponID">
                        <option value=""></option>
                        {% for row in coupon_info %}
                        <option value="{{row['couponID']}}">{{row['couponID']}}</option>
                        {% endfor %}
                    </select>
                <br>

                <label>Order Status:
                    <select name="orderStatus" id="orderStatus">
                        <option value="inProcess">In Process</option>
                        <option value="shipped">Shipped</option>
                        <option value="delivered">Delivered</option>
                    </select>                    
                <br>
                </p>
                <input type="submit" id="add_orders" value="Add Order">
            </fieldset>
        </form>
        <br>
        <form action="/orders" method="get">
            <fieldset>
                <legend>Delete An Order</legend>
                <p>
                <label>Order ID:
                    <select name="order_to_delete" id="order_to_delete">
                        {% for row in orderID_info %}
                        <option value="{{row['orderID']}}">{{row['orderID']}}</option>
                        {% endfor %}
                    </select>
                <br>
                </p>
                <input type="submit" id="delete_orders" value="Delete Order">
            </fieldset>
        </form>
        <br>
        <form action="/orders" method="post">
            <fieldset>
                <legend>Update An Order</legend>
                <p>
                <label>Order ID:
                    <select name="order_to_update" id="order_to_update">
                        {% for row in orderID_info %}
                        <option value="{{row['orderID']}}">{{row['orderID']}}</option>
                        {% endfor %}
                    </select>
                    <!--<input type="text" id="orderID" size="30" maxlength="100"></label>--!>
                <br>
                <label>Order Status:
                    <select name="orderStatus_to_update" id="orderStatus_to_update">
                        <option value="inProcess">In Process</option>
                        <option value="shipped">Shipped</option>
                        <option value="delivered">Delivered</option>
                    </select>
                    <!--<input type="text" id="orderStatus" size="30" maxlength="100"></label>-->
                <br>
                <label>Coupon ID:
                    <select name="coupon_to_update" id="coupon_to_update">
                        <option value=""></option>
                        {% for row in coupon_info %}
                        <option value="{{row['couponID']}}">{{row['couponID']}}</option>
                        {% endfor %}
                    </select>
                    <!--<input type="text" id="couponID" size="30" maxlength="100"></label>--!>
                <br>
                </p>
                <input type="submit" id="update_orders" value="Update Order">
            </fieldset>
        </form>
    </body>
</html>
