<html>
    <!--
        Citation for the navigation bar:
        Date: 10/25/2021
        Adapted from: w3schools
        Source URL: https://www.w3schools.com/howto/howto_js_topnav.asp
    -->

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Database-Coupons</title>
        <!-- style for the navigation bar-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
   
    <body>    
        <div class="topnav">        
            <a href="/">Home</a></li>
            <a href="/customers">Customers</a>
            <a href="/vinyls">Vinyls</a>
            <a href="/orders">Orders</a>
            <a href="/coupons">Coupons</a>
            <a class="active" href="/orderProducts">OrderProducts</a>     
        </div>
        <br>
        <h1> Manage OrderProducts Data</h1>

        <table>
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Product ID</th>
                <th>Product Quantity</th>
            </tr>
            <tbody>
            
            {% for row in order_prod_info %}
            <tr>
                <td>{{row['order_id']}}</td>
                <td>{{row['product_id']}}</td>
                <td>{{row['quantity']}}</td>
            </tr>
            {% endfor %}
    
        </table>
        <br>

        <!--
        Citation for user input form:
        Date: 10/25/2021
        Adapted from: w3schools
        Source URL: https://www.w3schools.com/tags/tag_form.asp
        -->

        <form>
        <fieldset>
            <legend>Add New OrderProducts</legend>
            <p>
            <label>Order ID:
                <input type="text" id="orderID" size="30" maxlength="100"></label>
            <br>
            <label>Product ID:
                <input type="text" id="productID" size="30" maxlength="100"></label>
            <br>
            <label>Quantity:
                <input type="number" id="quantity" min="0"></label>
            <br>
            </p>
            <input type="submit" id="add_orderProducts" value="Add OrderProducts">
        </fieldset>
        <br>
        <fieldset>
            <legend>Delete an OrderProducts</legend>
            <p>
            <label>Order ID:
                <input type="text" id="orderID" size="30" maxlength="100"></label>
            <br>
            <label>Product ID:
                <input type="text" id="productID" size="30" maxlength="100"></label>
            <br>
            </p>
            <input type="submit" id="delete" value="Delete OrderProducts">
        </fieldset>
        </form>
    </body>
</html>